.HoverCardContent {
    max-width: 480px;
    pointer-events: none;
    z-index: 1000;
}

.image-grid-item-selected img {
    outline: 0.2rem solid rgba(0, 0, 255, .50);
}

.image-grid-item:hover img {
    outline: 0.2rem solid rgba(0, 0, 0, .20);
}

.image-clip {
    position: relative;
    overflow: hidden;
}

.image-clip:before {
    content: '';
    width: 100%;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0px;
    background: linear-gradient(to bottom, transparent 0%, #fff 100%);
}

.TagList-item .link-secondary {
    display: none;
}
.TagList-item:hover .link-secondary {
    display: initial;
}
